<div class="container">

  <div id="<%= dom_id accommodation %>">
    <p>
      <strong>Name:</strong>
      <%= accommodation.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= accommodation.address %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= accommodation.rating %>/5
    </p>
  </div>
</div>
