<div class="container">
  <h1>Editing accommodation</h1>

  <%= render "form", accommodation: @accommodation %>

  <br>

  <div>
    <%= link_to "Show this accommodation", @accommodation, class:"btn btn-outline-secondary" %>
    <%= link_to "Back", accommodations_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
