<div class="container">
  <h1>5 Stars Accommodations</h1>
  <div id="accommodations">
    <% @accommodations.each do |accommodation| %>
      <%= render accommodation %>
      <p>
        <%= link_to "Show this accommodation", accommodation %>
      </p>
    <% end %>
  </div>
</div>
