<div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/itsleonardog"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/leonardogenzolini/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © Leonardo Genzolini
  </div>
</div>
