<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <% if user_signed_in? %>
      <h1>Hi, <%= current_user.first_name %>!</h1>
    <% end %>
    <h1>Welcome to the Airbnb replica!</h1>
    <p>Choose your stay in over 100 accommodations!</p>
    <% if user_signed_in? %>
      <div>
        <%= link_to "Accommodations", accommodations_path, class: "btn btn-flat" %>
      </div>
    <% else %>
      <!-- show sign in button -->
    <% end %>
  </div>
</div>
